/* New CSS */

@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Abel');

/* Jumbotron */

.index-jumbotron {
  background-image: url('../img/new_mockup_img/landing_page_jumbotron_background_img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFFFFF;
  min-height: 82vh;
}

.jumbotron-img {
  height: 60px;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.sm-header-blurb {
  /*margin: 0 10px;*/
}

.jumbotron-blurb-column {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 2.5em;
  color: #ffffff;
}

.header-blurb {
  min-height: 100px;
}

.header-blurb-text {
  color: #ffffff;
  font-family: 'Maven Pro', sans-serif;
  width: 100%;
  max-width: 440px;
  display: inline-block;
  font-size: 44px;
  line-height: 1.25em;
  font-weight: 500;
}

.ether-iframe {
  width: 100%;
  max-width: 590px;
  margin: 3em 0;
}

.iframe-col {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  padding-top: 2em;
}

.jumbotron-subtitle-column {
  color: white;
  text-align: center;
  margin: 0 auto;
  /*border: #5db0d2 2px solid;*/
  min-height: 25vh;
  padding-bottom: 50px;
}

.jumbotron-subtitle-text {
  text-align: left;
  width: 75%;
  font-family: 'Ubuntu';
  margin: 1.5em auto;
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 400;
}

.jumbotron-subtitle-text .jumbotron-subtitle-header {
  font-size: 22px;
  font-weight: 700;
}

.btn-wrapper {
  text-align: center;
}

ul.blurb-list li {
  list-style: circle;
  display: list-item;
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.blurb-list {
  margin: 0 auto;
  width: 66%;
  text-align: left;
}

.jumbotron-btn {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  font-family: "Abel", sans-serif;
  width: 50%;
  background: #5db0d2;
  /*background: #FFD700;*/
  border: none;
  font-size: 1.5em;
  font-weight: 700;
  /*color: #000000;*/
  color: #ffffff;
}

.jumbotron-btn:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Navbar */

.btn-link,
.nav-item {
  color: #FFFFFF;
}

.ether-link-anchor {
  color: #ffffff;
}

.ether-nav {
  background-color: #000000;
  background-image: none;
  border-color: transparent;
  border-radius: 0px;
  margin-bottom: 2px;
}

.ether-nav-collapse {
  border-color: #101010;
}

.ether-brand {
  padding: 10px 15px;
}

.ether-nav .ether-navbar-toggle {
  align-self: flex-start;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: rgba(0,0,0,.1);
}

.ether-navbar-toggle span {
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.ether-nav .ether-navbar-toggle:hover,
.ether-nav .ether-navbar-toggle:active,
.ether-nav .ether-navbar-toggle:focus {
  background-color: #1F91D2;
}

.ether-nav .ether-nav-collapse,
.ether-nav .ether-nav-collapse {
 border-color: #1F91D2;
}

.ether-nav .ether-nav-collapse .ether-link a {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
  border-color: transparent;
  background-color: transparent;
  font-weight: 400;
  border-radius: 0;
  display: inline-block;
  line-height: 1.25em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1.5em;
  transition: all .2s ease-in-out;
  float: right;
  text-decoration: none;
  box-sizing: inherit;
}

.ether-nav .ether-nav-collapse .ether-link a:hover {
  text-decoration: underline;  
}

.ether-nav-collapse :global ul.nav.navbar-nav .active a {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

.ether-nav .ether-nav-collapse .ether-link.active a {
  background-color: #00C8FF;
  background-image: none;
  box-shadow: none;
}

/* Index body */

.blurb-logo {
  height: 200px;
}

.landing-page-body {
  background: url('/img/new_mockup_img/etherparty_bg.png') center no-repeat;
  background-size: cover;
  padding-bottom: 5em;
}

.scroll-down-arrow {
  top: 0%;
  right: 50%;
  position: absolute;
  height: 30px;
  margin: 2em auto;
}

.computer-img-row {
  padding-top: 4em;
}

.computer-img-col {
  margin-top: 2em;
  text-align: center;
}

.blue-accent {
  color: #4a9bd5;
}

.white-accent {
  color: #ffffff;
}

.gold-accent {
  /*color: #FFD700;*/
  color: #5db0d2;
  font-weight: 700;
}

.leading-text,
.lg-leading-text,
.sm-leading-text {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
}

.leading-text {
  font-size: 23px;
}

.lg-leading-text {
  font-size: 40px;
  padding-top: 0.5em;
}

.sm-leading-text {
  font-size: 20px;
}

.landing-pg-break {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.infograph-row {
  margin-top: 4em;
}

.infograph-text {
  font-family: "Maven Pro", sans-serif;
  font-size: 40px;
  color: #005e93;
  line-height: 1.2em;
}

.bolded-infograph-text {
  font-weight: 700;
}

.infograph-text {
  margin-left: 2em;
}

.contract-img {
  margin-left: 5.75em;
}

.infograph-text-col,
.infograph-img-col {

}

.social-icons-row {
  margin-top: 10em;
}

.second-body-text {
  font-family: "Maven Pro", sans-serif;
  font-size: 45px;
  color: #000000;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.bottom-logo-img {
  /*margin: 0 auto;*/
  height: 200px;
}

.second-body-list {
  list-style: none;
  color: #000000;
}

.second-body-list li {
  background: none;
  border: none;
  text-align: left;
}

.landing-page-list-img {
  height: 125px;
  display: inline-block;
}

.landing-page-list-text {
  font-family: "Ubuntu", sans-serif;
  display: inline-block;
  width: 75%;
  margin-left: 1em;
  font-style: italic;
  font-weight: 100;
  line-height: 1.5em;
}

.social-icons-text {
  color: #ffffff;
  font-size: 36px;
  font-family: "Ubuntu", sans-serif;
  /*padding-top: 2em;*/
}

.social-icons {
  color: #ffffff;
  margin: 0 6px;
  font-size: 1.66em;
}

.footer {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 2em;
  background-color: #000000;
  padding: 1em 0;
}

.footer-links {
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer-links a {
  color: #ffffff;
  padding-bottom: 0;
}

.why-etherparty-section {
  margin-top: 3em;
  margin-bottom: 2em;
}

/* about page & faq page */

.about-section,
.faq-section {
  background-color: #191919;
  padding-top: 6em;
  min-height: 100vh;
}

.about-header,
.faq-header {
  padding-bottom: 1em;
  padding-left: 0.5em;
  color: #ffffff;
  line-height: 1.5em;
}

.faq-list {
  padding-left: 1em;
  padding-right: 1em;
}

.faq-list li {
  background-color: #000000;
  border: #3f726d 1px solid;
  /*padding-bottom: 0.5em;*/
  padding: 0;
}

.about-body,
.faq-list li.faq-list-item {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.2em;
}

.faq-list li.faq-list-item {
  margin-bottom: 2em;
}

.about-body {
  padding: 0 1em;
  margin: 1em 0px;
}

.question {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  /*margin-top: 0.5em;*/
  background-color: #2D3E3E;
  color: #aac9cc;
  font-size: 24px;
  line-height: 1.75em;
}

.answer {
  font-weight: 600;
  line-height: 1.75em;
  font-size: 20px;
  font-family: "Abel", sans-serif;
  padding-left: 1.5em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.tf-platform {
  background: url(../img/03.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
}

.tf-platform-text {
  font-family: "Maven Pro", sans-serif;
  font-size: 36px;
  line-height: 1.5em;
}

.tf-platform .overlay {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  height: auto;
  background-attachment: fixed;
}

.overlay hr {
  border-top: 4px solid rgba(252, 172, 69, 0.34);
  width: 40px;
  text-align: center;
  position: relative;
  margin: 1em auto;
}

.tf-platform-img {
  margin: 0 auto;
  padding-bottom: 3em;
}

/* Services Section */
.tf-services {
  padding-top: 2em;
}

.space {
  margin-top: 40px;
}

.tf-services i.fa {
  font-size: 40px;
  border: 4px solid #197ad2;
  width: 100px;
  height: 100px;
  padding: 27px 25px;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: all 0.5s;
}

.tf-services i.fa.fa-mobile{
  font-size: 50px;
  padding: 20px 25px;
}

.tf-services .service:hover>i.fa{
  background: #197ad2;
  color: #ffffff;
}

.tf-services-text {
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  line-height: 1.5em;
}

.tf-services-sm-text {
  font-family: "Maven Pro", sans-serif;
  font-size: 24px;
  line-height: 1em;
}

.service {
  padding: 1em 0;
}

/* Overwriting basic bootstrap row class */

.row {
  margin-left: 0;
  margin-right: 0;
}

.computer-img {
  margin: 0 auto 2em;
}

.ether-carousel-section {
  background-color: #000000;
  padding: 2em 0;
}

.tf-clients-text {
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.5em;
}

@media screen and (max-width: 992px) {

  .jumbotron-btn {
    width: 50%;
  }

  .social-icons-text {
    padding-top: 0;
  }

  .second-body-text {
    /*padding-left: 0.5em;*/
    padding-left: 1em;
  }

  .second-body-list {
    padding-left: 1em;
  }

  .jumbotron-img {
    display: none;
  }

  .header-blurb {
    min-height: 25px;
  }

  .header-blurb-text {
    width: 100%;
    max-width: 100%;
    font-size: 36px;
  }

  .computer-img-col {
    text-align: center;
  }

  .sm-leading-text {
    line-height: 1.5em;
  }

}

@media screen and (max-width: 768px) {

  .subtitle-row {
    padding: 1em;
  }

  .jumbotron-btn {
    width: 66%;
  }

  .ether-nav .ether-nav-collapse .ether-link a {
    text-align: left;
    float: none;
    display: block;
  } 

  .ether-nav-collapse ul {
    float: none;
  }

  .tf-platform-text {
    font-size: 30px;
  }

  .bottom-logo-img {
    margin: 0 auto;
    height: 150px;
  }

  .second-body-text {
    font-size: 30px;
    line-height: 1.25em;
    margin-top: 0;
    text-align: center;
  }

  .second-body-list li {
    text-align: center;
  }

  .landing-page-list-text {
    width: 85%;
    margin: 0;
  }

  .computer-img-text {
    display: none;
  }

  .jumbotron-subtitle-text {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {

  .jumbotron-btn {
    width: 70%;
  }

  .jumbotron-subtitle-text {
    width: 100%;
    font-size: 18px;
  }

  .lg-leading-text,
  .leading-text {
    line-height: 1.25em;
  }

  .blurb-list {
    width: 70%;
  }

}

@media screen and (max-width: 320px) {
  .header-blurb-text {
    font-size: 30px;
  }

  .jumbotron-subtitle-text {
    /*font-size: 14px;*/
    line-height: 1.75em;
  }
}
